<html>
<head>
  <title>Wedding App</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>
<div class="container">
  <div id="pageContent">
 <!-- navbar -->
    <div id="navbar">
 <!-- Logo
        ================================================== -->
        <div class="span2 logo">
           	<a href="index.php"><img src="{{ url_for('static', filename='wedding-logo-website.png') }}" alt="logo" width="250" height="100" /></a>
        </div>
        
  
        <!-- Main Navigation
        ================================================== -->
        <div class="span8 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
           <li><a href="">Home</a></li>
          <li><a href="bookings">Booking List</a></li>
           <li><a href="add">Add</a></li> 
          </ul>     
            </div>
            
          

            
          
          </div>
          

        
      </div><!-- End nav -->
 <!-- The main stuff -->
  <div id="headlineContent">
  
    <div class="row headline"><!-- Begin Headline -->
    <div class="span12">
          <img src= "{{ url_for('static', filename='lothian-chambers-edinburgh-wedding-alternative-scottish-photographer-070.jpg') }}" alt="lothian chambers wedding" width="600" height="400" />
            </div>
        </div>
       </div> 
    <div class="text-row"><!-- main page text -->  
     <div class="span12">
     <h1>Welcome to Wedding Photography App</h1><br /><br />
     <p><strong>2016 Weddings</strong><br /><br />
     
    <p>Stylish, natural, creative and vintage inspired wedding photography. </p>
       </div>
        </div>
     </div>
	 </div></div>
  <script type="text/javascript" src="{{ url_for('static', filename='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='http://code.jquery.com/jquery-latest.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
  
  
</body>
</html>
